.flag{
    display: grid;
    width: 85px;
    height: 60px;
    /* justify-content: center;
    align-items: center; */
    border-radius: 5px;
    padding: 2px;
    border: solid 0px rgb(10, 10, 10);
    transition: all ease 300ms;
    box-shadow: -1px 3px 16px 9px rgba(0,0,0,0.43);
    -webkit-box-shadow: -1px 3px 16px 9px rgba(0,0,0,0.43);
    -moz-box-shadow: -1px 3px 16px 9px rgba(0,0,0,0.43);
    
}

.flag:hover{
    transform: scale(1.1);
}

.card{
    background-color: rgba(197, 170, 37, 0.58);
    width: 200px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 4px solid rgba(226, 158, 243, 0.523);
}

.card a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
}

.card h4  {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card h5  {
    display: flex;
    justify-content: center;
    align-items: center;
}
