.search-box{
    position: relative;
    width: 100%;
    margin: 0;
}

.search-input{
    height: 32px;
border: 2px solid #cbf3ee72;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
background-color: #fff;
overflow: hidden;
}

/* .search-box input[type="placeholder"]{
    font-size: 14px;
    color: rgb(225, 13, 13);
    border-width: 0;
    background: transparent;
} */

.search-box input[type="text"] {
    width: 200px;
    height: 14px;
    padding: 8px 0 12px 1em;
    color: rgb(171, 177, 168);
    outline: none;
    border-width: 1;
    font-size: 14px;
    background: transparent;
    }

.search-button{
position: relative;
top: 3px;
right: 50px;
height:38px;
width: 80px;
font-size: 15px;
color: #656;
text-align: center;
line-height: 4px;
border-width: 0;
background-color: #cbf3ee;
-webkit-border-radius: 0px 15px 15px;
-moz-border-radius: 0px 15px 15px 15px;
border-radius: 15px 15px 15px 15px;
cursor: pointer;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search-button2{
    position: relative;
    top: 2px;
    right: 28px;
    height: 38px;
    width: 80px;
    font-size: 12px;
    color: rgb(83, 63, 83);
    text-align: center;
    line-height: 10px;
    border-width: 0;
    background-color: #f0d89cbf;
    -webkit-border-radius: 0px 15px 15px;
    -moz-border-radius: 0px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

